# Ollama settings
OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=qwen3:8b

# Piper TTS settings
PIPER_URL=http://piper:5000
# Default voice: English (US)
PIPER_VOICE_URL=https://huggingface.co/rhasspy/piper-voices/resolve/main/en/en_US/lessac/medium/en_US-lessac-medium.onnx?download=true

# Portuguese (Brazil) Example:
# PIPER_VOICE_URL=https://huggingface.co/rhasspy/piper-voices/resolve/main/pt/pt_BR/faber/medium/pt_BR-faber-medium.onnx?download=true

# Papyrus settings
PDF_FILE=pdfs/test.pdf
CUSTOM_PROMPT="Analyze this document."
